<div class="container mx-auto px-6 mt-12 mb-10">
  <h1 class="text-3xl font-bold text-center mb-6 border-b-2 border-gray-300 pb-2">プライバシーポリシー</h1>

  <p class="mb-4">LeafWhisper（以下、「本アプリ」といいます。）は、ユーザーの個人情報の重要性を認識し、これを保護するため、以下のプライバシーポリシーを定め、個人情報の適切な管理に努めます。</p>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第1条（個人情報の定義）</h2>
  <p class="mb-4">個人情報とは、生存する個人に関する情報であり、氏名、住所、メールアドレス、電話番号などの特定の個人を識別できる情報を指します。</p>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第2条（個人情報の収集方法）</h2>
  <p class="mb-4">本アプリでは、以下の方法でユーザーの個人情報を収集します。</p>
  <ul class="list-disc list-inside mb-4">
    <li>ユーザー登録時に入力される情報（氏名、メールアドレスなど）</li>
    <li>商品やカフェのレビュー投稿時に提供される情報</li>
    <li>お問い合わせフォームの利用時に提供される情報</li>
  </ul>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第3条（個人情報の利用目的）</h2>
  <p class="mb-4">本アプリが収集した個人情報は、以下の目的で利用されます。</p>
  <ul class="list-disc list-inside mb-4">
    <li>ユーザー登録の管理およびユーザーの認証</li>
    <li>抹茶関連商品の検索、レビュー投稿および閲覧サービスの提供</li>
    <li>お問い合わせへの対応</li>
    <li>ユーザーの同意を得た上でのマーケティングおよびサービス改善のための分析</li>
    <li>法令遵守および利用規約の違反防止</li>
  </ul>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第4条（個人情報の第三者提供）</h2>
  <p class="mb-4">本アプリは、次の場合を除き、ユーザーの個人情報を第三者に開示または提供することはありません。</p>
  <ul class="list-disc list-inside mb-4">
    <li>ユーザーの同意がある場合</li>
    <li>法令に基づき開示が必要な場合</li>
    <li>ユーザーの生命、身体、財産の保護のために必要な場合で、ユーザーの同意を得ることが困難な場合</li>
    <li>公的機関からの要請に応じる場合</li>
  </ul>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第5条（個人情報の管理）</h2>
  <p class="mb-4">本アプリは、ユーザーの個人情報を安全に管理し、漏洩、紛失、改ざん、不正アクセスを防止するために、適切な技術的および組織的な対策を講じます。</p>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第6条（個人情報の開示、訂正、削除）</h2>
  <p class="mb-4">ユーザーは、自己の個人情報の開示、訂正、削除を希望する場合、以下の手続きを通じて申請することができます。</p>
  <ul class="list-disc list-inside mb-4">
    <li>ユーザーが希望する情報の開示、訂正または削除に関する依頼は、アプリ内のお問い合わせフォームを通じて行うことができます。</li>
    <li>適正な手続きを経て、運営者は合理的な期間内にこれに対応します。</li>
  </ul>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第7条（プライバシーポリシーの変更）</h2>
  <p class="mb-4">本アプリは、必要に応じて本プライバシーポリシーを変更することがあります。変更があった場合、ユーザーに通知し、変更後のポリシーが適用されます。</p>
  
  <h2 class="text-2xl font-semibold mt-8 mb-4">第8条（アクセス解析ツールの使用）</h2>
  <p class="mb-4">本アプリでは、サービス改善のためにGoogleが提供するアクセス解析ツール「Google Analytics」を利用しています。Google Analyticsは、ユーザーのウェブサイト利用状況を分析するために、クッキーを使用して情報を収集します。この情報には、IPアドレス、ブラウザの種類、閲覧したページ、滞在時間などが含まれます。</p>  
  <p class="mb-4">Google Analyticsで収集される情報は、Googleのプライバシーポリシーに基づいて管理されます。詳細については、Googleのプライバシーポリシーをご確認ください。</p>
  <p class="mb-4">ユーザーは、ブラウザ設定でクッキーの使用を無効にすることができます。ただし、これにより一部の機能が正常に動作しない場合があります。</p>
  <p class="mb-4"><a href="https://policies.google.com/privacy" target="_blank" class="link link-hover text-blue-500 hover:underline">Googleのプライバシーポリシーはこちら</a></p>

  <h2 class="text-2xl font-semibold mt-8 mb-4">第9条（お問い合わせ窓口）</h2>
  <p class="mb-4">本ポリシーに関するお問い合わせは、以下の窓口までご連絡ください。</p>
  <p class="mb-4">運営者: LeafWhisper運営チーム</p>
  <%= link_to 'お問い合わせはこちら', new_contact_path, class: 'mb-4 link link-hover text-blue-500 hover:underline' %>
</div>
