<main class="hero text-center py-20 bg-base-100"> 
  <%# 画像コンテナ %>
  <div class="w-full mbｰ4">
    <%= image_tag 'tea5.jpg', alt: 'image' %>
  </div>
  <%# テキストコンテナ %>
  <div class="container mx-auto mt-8 text-white">
    <h1 class="text-6xl">Welcome to LeafWhisper</h1>
    <p class="text-2xl text-neutral mt-4">日本茶をもっと身近に、もっと楽しく</p>
  </div>
</main>