<%# ナビゲーションバー %>
<header class="navbar bg-primary">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl font-bold">LeafWhisper</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a>新規登録</a></li>
      <li><a>ログイン</a></li>
      <li><a>メニュー</a></li>
    </ul>
  </div>
</header>