<header class="py-6 bg-slate-600 text-neutral">
  <div class="container mx-auto flex justify-between items-center">
    <div class="text-lg font-bold">LeafWhisper</div>
      <nav>
        <a href="#signup" class="mx-4 hover:text-accent">新規登録</a>
        <a href="#signin" class="mx-4 hover:text-accent">ログイン</a>
        <a href="#menu" class="mx-4 hover:text-accent">メニュー</a>
      </nav>
  </div>
</header>