<% content_for :title, "カフェ検索" %>

<div class="container">
  
  <!-- 検索フォーム -->
  <div class="flex items-center space-x-2">
  <input id="address" type="text" placeholder="住所を入力" class="border rounded-lg p-2 w-64 focus:outline-none focus:ring-2 focus:to-blue-600">
  <button type="button" onclick="codeAddress()" class="bg-secondary text-white p-2 rounded-lg hover:bg-blue-400">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-5 w-5 text-gray-500">
      <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
    </svg>
  </button>
  </div>
  
  <!-- 地図表示 -->
  <div id="map" style="height: 500px; width: 100%;"></div>
</div>

<!-- Google Maps APIのスクリプトを非同期に読み込む -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap"></script>