@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .field_with_errors {
    @apply contents;
  }
}

.menu-horizontal {
  @apply flex flex-row list-none p-0;
}

.menu-horizontal li {
  @apply mr-4;
}

.alert-notice {
  @apply bg-green-100 text-green-800 p-4 rounded-lg shadow-md mb-4;
}

.alert-alert {
  @apply bg-red-100 text-red-800 p-4 rounded-lg shadow-md mb-4;
}

.text-4xl {
  font-size: 2.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.alert {
  margin-bottom: 0 !important;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  max-width: 100%;
}

.text-shadow-md {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

details ul {
  z-index: 20;
  width: 200px;
  top: 100%;
  position: absolute;
  right: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

input[type="radio"].hidden + label {
  color: gray;
}

input[type="radio"].hidden:checked + label {
  color: gold;
}
