@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* 「field_with_errors.」にCSSをあてる */
  .field_with_errors {
    @apply contents;
  }
}

.menu-horizontal {
  @apply flex flex-row list-none p-0;
}

.menu-horizontal li {
  @apply mr-4; /* Tailwind CSS で 1rem は 'mr-4' に相当します */
}

.alert-notice {
  @apply bg-green-100 text-green-800 p-4 rounded-lg shadow-md mb-4;
}

.alert-alert {
  @apply bg-red-100 text-red-800 p-4 rounded-lg shadow-md mb-4;
}

/* カスタムスタイル */
.text-4xl {
  font-size: 2.25rem;
}

.cursor-pointer {
  cursor: pointer;
}

.alert {
  margin-bottom: 0 !important;
}

/* ラジオボタンを非表示にし、ラベルのクリックを有効にする */
input[type="radio"].hidden + label {
  color: gray;
}

input[type="radio"].hidden:checked + label {
  color: gold;
}


/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
