<% content_for :title, t('products.search_results.page_title') %>

<div class="container mx-auto p-4">
  <div id="search_results">
    <%= render 'products/search_results' %> <!-- 検索結果のパーシャルをレンダリング -->
  </div>
</div>

<!-- モーダルのトリガーボタン -->
<!-- モーダルのトリガーボタン -->
<!-- レビューモーダル -->
<div id="reviewModal" class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden">
  <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-md mx-auto">
    <div id="modalContent">
      <!-- モーダル内容がここに動的に読み込まれます -->
    </div>
  </div>
</div>
