<div class="min-h-screen flex items-center justify-center bg-gray-100 py-10">
  <div class="max-w-sm mx-auto bg-white p-6 rounded-lg shadow-lg w-full">
    <h2 class="text-2xl font-bold mb-4 text-center">レビュー投稿</h2>
    <p class="text-lg mb-4 text-center">商品のご感想はいかがでしたか？</p>
    <div id="review_form">
      <%= render 'form', locals: { reviewable: @reviewable, review: @review } %>
    </div>
  </div>
</div>
