  <!-- 標準のHTMLメタタグ  -->
  <title>LeafWhisper - 抹茶に関する情報集約アプリ</title>
  <meta name="description" content="LeafWhisperで抹茶に関する商品やカフェを検索・レビューできるアプリ" />
  <meta name="keywords" content="抹茶, カフェ, 商品検索, レビュー" />
  
  <!-- OGPメタタグ (ソーシャルメディア用) -->
  <meta property="og:title" content="LeafWhisper - 抹茶に関する情報集約アプリ" />
  <meta property="og:description" content="LeafWhisperで抹茶に関する商品やカフェを検索・レビューできるアプリ" />
  <meta property="og:image" content="https://leafwhisper.onrender.com/images/ogp_image.png" />
  <meta property="og:url" content="https://leafwhisper.onrender.com" />
  <meta property="og:type" content="website" />
  <meta property="og:locale" content="ja_JP" />

  <!-- Xカード用メタタグ (X用) -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="LeafWhisper - 日本茶に関する情報集約アプリ" />
  <meta name="twitter:description" content="LeafWhisperで抹茶や日本茶に関する商品やカフェを検索・レビューできるアプリ" />
  <meta name="twitter:image" content="https://leafwhisper.onrender.com/images/ogp_image.png" />