doctype html
html
  head
    title
      | LeafWhisper
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = javascript_importmap_tags
  body

    header .py-6
      .container.mx-auto.
    - if notice
      p.notice = notice
    - if alert  
      p.alert = alert

    = render 'shared/header'
    = yield
    = render 'shared/footer'
